---
import Image from '~/components/common/image.astro';
import Button from '~/components/ui/button.astro';
import type { ImageMetadata } from '~/types';
import { findImage } from '~/utils/images';

export interface Props {
	title: string;
	items: Array<{
		subtitle: string;
		description: string;
		image?: string;
		button?: { text: string; href: string };
	}>;
}

const { title, items } = Astro.props;
---

<div class="mb-6 md:mb-62 px-4 md:px-6">

	<h2>{title}</h2>

	<div class="grid gap-6 row-gap-5 md:grid-cols-3">

		{items.map(async (item) => {
			const image = await findImage(item.image) as ImageMetadata | string | undefined;
			return (

				<article class="mb-6 p-6 rounded-lg w-full bg-white text-center">

					{image && (
						<div class="relative m-auto max-w-sm">
							<Image
								src={image}
								alt={item.subtitle}
								title={item.subtitle}
							/>
						</div>
					)}

					<div>

						<h3 class="max-w-3xl mx-auto">
							{item.subtitle}
						</h3>

						{item.description && (
							<p>{item.description}</p>
						)}

						{item.button && (
							<Button class="btn" variant="primary" href={item.button.href} text={item.button.text} />
						)}

					</div>

				</article>

			);
		})}

	</div>

</div>