---
import Layout from '~/layouts/page.astro';
import type { MetaData } from '~/types';

export interface Props {
	frontmatter: {
		title?: string;
		description?: string;
	};
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
	title: frontmatter?.title,
};

const base = "mx-auto";
const text = "text-justify text-2xl";
---

<Layout metadata={metadata}>

	<section class="max-w-8xl mx-auto py-20 px-4 sm:px-6 pb-10">

		<article>

			<header>

				<h1 class={`${base} ${text}`}>
					{frontmatter.title}
				</h1>

				<p class={`${base} ${text}`}>
					{frontmatter.description}
				</p>

			</header>



			<div>

				<div class={`${base} ${text}`}>

					<slot/> 

			</div>

		</article>

	</section>

</Layout>